<template>
  <div id="index" class="container" style="padding-top: 50px;">

    <h1>Foire du Valais</h1>

  </div>
</template>

<script>
  import { messaging, database, key } from '../main'

  export default {
    name: 'index',
    data () {
      return {
        headers : {
          'Authorization': key,
          'Content-Type': 'application/json'
        },
      }
    },
    created () {
      navigator.serviceWorker.register('firebase-messaging-sw.js').then((registration) => {
        messaging.useServiceWorker(registration);

        messaging.requestPermission()
        .then(() => {
          return messaging.getToken();
        })
        .then((token) => {
          console.log(token)
          this.tokenExist(token)
          fetch('https://iid.googleapis.com/iid/v1/'+token+'/rel/topics/foire', {
            method: 'POST',
            headers: this.headers
          }).then((response) => {
            if (response.status < 200 || response.status >= 400) {
              throw 'Error subscribing to topic: '+response.status + ' - ' + response.body;
            }
          }).catch(error => {
            console.error(error);
          })
        })
      });
    },
    methods: {
      tokenExist (tokenusr) {
        database.ref('tokens/').orderByChild('token').equalTo(tokenusr).on("value", function(snapshot) {
          if (snapshot.val() == null) {
            database.ref("tokens/").push({
              token : tokenusr
            });
          }
        });
      }
    }
  }
</script>
