<template>
  <div id="index" class="container" style="padding-top: 50px;">
    <h1>Envoyer une notification</h1>
    
    <!-- Show an alert when a message is send to a topic -->
    <b-alert :show="dismissCountDown" v-if="success" variant="success" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">
      <p>Message envoyé au topic foire</p>
      <hr>
      <p class="mb-0" style="font-size: 10px;">
        Ce message s'enlevera dans {{ dismissCountDown }}
      </p>
    </b-alert>

    <!-- Show an alert when a message can't be send to a topic -->
    <b-alert :show="dismissCountDown" v-if="error" variant="danger" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">
      <p>Problème d'envoi au topic foire</p>
      <hr>
      <p class="mb-0" style="font-size: 10px;">
        Ce message s'enlevera dans {{ dismissCountDown }}
      </p>
    </b-alert>

    <!-- Send a message to a topic -->
    <div class="form">
      <div class="form-group">
        <label for="title">Titre</label>
        <input class="form-control" type="text" name="title" id="title" placeholder="Titre du message" v-model="title">
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <input type="text" class="form-control" name="message" id="message" placeholder="Contenu du message" v-model="message">
      </div>
      <button class="btn btn-primary" @click="sendMessage()">Envoyer le message</button>
    </div>

    <div>
      {{ people }}
    </div>

  </div>
</template>

<script>
  import axios from 'axios'
  import { database, key } from '../main'

  export default {
    name: 'index',
    data () {
      return {
        title: "",
        message: "",
        success: false,
        error: false,
        dismissCountDown: 0,
        dismissSecs: 3,
        people: ""
      }
    },
    created () {
      // Get all the topic from the DB
      database.ref('tokens/').once('value').then((data) => {
        var keys = Object.keys(data.val())
        this.people = "Il y a " + keys.length + " personne(s) inscrite(s)"
      });
    },
    methods: {
      // Send a message to a topic
      sendMessage () {
        this.dismissCountDown = this.dismissSecs
        axios ({
          method: 'post',
          url: 'https://fcm.googleapis.com/fcm/send',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': key
          },
          data: {
            "notification": {
                "title": this.title,
                "body": this.message,
                "click_action": "http://localhost:8080/",
                "icon": "http://localhost:8080/favicon.ico"
            },
            "to": "/topics/foire"
          }
        })
        .then((response) => {
          if(this.message != "" && this.title != "") {
            this.title = "";
            this.message = "";
            this.success = true;
          }
          else {
            this.error = true;
          }
        })
        .catch((response) => {
          //handle error
          this.error = true;
        });
      },
      // Countdown for the alert
      countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
        if (dismissCountDown == 0) {
          this.success = false
          this.error = false;
        }
      }
    }
  }
</script>
